<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home.css">
    <%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/head_body.ejs') %>
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="home_dash_parent_container">
                <h1>No Content For Now</h1>
            </div>
        </div>
    </div>
    <%- include('../includes/end_body.ejs') %>
</body>

</html>