<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login | YPREZ</title>
  <link rel="stylesheet" href="/css/login.css">
   <!-- Font Awesome Cdn Link -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <h1>Y PEREZ Admin Panel</h1>
    <br />
    <p>Please login to access to admin panel</p>
    <form method="post" action="/admin/administratorLogin">
      <input type="text" name="ad_phone" placeholder="Enter Phone Number">
      <input type="password" name="ad_password" placeholder="Enter password">
      <button class="admin_login_btn" type="submit">Login</button>
    </form>
  </div>
</body>
</html>
