<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login | Y PEREZ</title>
  <link rel="stylesheet" href="/css/login.css">
   <!-- Font Awesome Cdn Link -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <h1>Y PEREZ Admin Panel</h1>
    <br />
    <p>Please login to access to admin panel</p>
    <form>
      <input type="text" placeholder="Enter username">
      <input type="password" placeholder="Password">
    </form>
    <button class="admin_login_btn" type="submit">Sign in</button>
  </div>
</body>
</html>
