<div class="top-navbar">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button
          type="button"
          id="sidebarCollapse"
          class="d-xl-block d-lg-block d-md-mone d-none"
        >
          <span class="material-icons">arrow_back_ios</span>
        </button>

        <p class="navbar-brand"> <%- pageName %> </p>

        <button
          class="d-inline-block d-lg-none ml-auto more-button"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="material-icons">more_vert</span>
        </button>

        <div class="" id="navbarSupportedContent">
          <div class="widget-content-wrapper">
            <div class="widget-content-left ml-3 header-user-info">
              <div class="widget-heading"><%- data.fName %></div>
              <div class="widget-subheading">
                <% if (data.type == "1") { %>
                  YPERZ Portal | Admin
                <% } else if (data.type == "2") { %>
                  YPERZ Portal | Supervisor
                <% } else { %>
                  YPERZ Portal | Cleaner
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
